body {
  background: url(./home/assets/background-home-desktop.jpg);
  background-size: cover;
}
/* text */
.text-parent {
  color: rgba(217, 214, 214, 0.721);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-left: 13rem;
  margin-top: 6rem;
  width: 30rem;
  font-size: 1.8rem;
}
.text {
  font-weight: 400;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.text-parent h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-size: 8rem;
  color: rgb(217, 214, 214);
  padding-left: 0.5rem;
  letter-spacing: 0.6rem;
}
.text-paragraph {
  font-size: 1.3rem;
  text-transform: none;
  word-spacing: 0.1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 1275px) {
  html,
  body {
    font-size: 15px;
  }
  body {
    background: url(./home/assets/background-home-tablet.jpg);
    background-size: cover;
  }
  nav ul {
    background: none;
    width: 65%;
    padding: 2rem 0 2rem 1.5rem;
  }
  nav li {
    margin: 0 0.8rem;
  }
  .line {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-button {
    margin-top: 3rem;
    position: relative;
  }
  .text-parent {
    margin-left: 0;
  }
}

.background {
  display: block;
  position: absolute;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
  height: 0.01vh;
  width: 0.01vw;
  background: #131522;
  transition: all 1s ease-out;
  z-index: 1;
}
#hamburger {
  display: none;
}

@media only screen and (max-width: 700px) {
  html,
  body {
    font-size: 12px;
  }
  body {
    background: url(./home/assets/background-home-mobile.jpg);
    background-size: cover;
  }
  nav {
    justify-content: space-between;
    height: 5rem;
    margin: 1rem 1.6rem 0;
  }
  nav ul {
    width: 4rem;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: none;
  }
  .logo {
    display: inline-block;
    position: relative;
    left: 0;
  }
  #hamburger,
  #close {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    display: inline-block;
  }
  main {
    text-align: center;
  }
  #slotter {
    position: absolute;
    z-index: 2;
    flex-direction: column;
  }

  #slotter li a {
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    padding: 1.4rem 0;
    margin: 0 2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
  }
}
